/* Hoja de estilos temporal */

.nav-tabs {
    background: none;
}

.btn-tabs{
    margin-left: 4px !important;
	background-color: #303f9f !important;
    border: 3px solid #9598e6;
	color: #ffffff !important;
}

.btn.btn-fab, .input-group-btn .btn.btn-fab{
	font-size: 20px;
    height: 52px;
    min-width: 52px;
    width: 52px;
}

.btn.btn-raised:not(.btn-link), .input-group-btn .btn.btn-raised:not(.btn-link), .btn-group-raised .btn:not(.btn-link), .btn-group-raised .input-group-btn .btn:not(.btn-link) {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffabd0;
	color: #662074 ;
}

.panel > .panel-heading, .panel.panel-default > .panel-heading {
    background-color: transparent;
	font-size: 20px;
	
}