/* Hoja de estilos temporal */

.nav-tabs {
    background: none;
}

.btn-tabs{
    margin-left: 4px !important;
	background-color: #303f9f !important;
    border: 3px solid #9598e6;
	color: #ffffff !important;
}

.btn.btn-fab, .input-group-btn .btn.btn-fab{
	font-size: 20px;
    height: 52px;
    min-width: 52px;
    width: 52px;
}

.panel > .panel-heading, .panel.panel-default > .panel-heading {
    background-color: transparent;
	font-size: 20px;
	
}

.btn-actions{
	background-color: #ffabd0 !important;
	color: #662074 !important;
}